@import url(reset.css);
@import url(header.css);

/* common */
body { font-size:20px; font-family:AppleSD_M,sans-serif; line-height:1; letter-spacing:1px; }
a { text-decoration:none; color:#222; }

/* header */
header span.drower_icon { background:url(../img/head_back.png)no-repeat 0 0; }
header span.set_icon { background:url(../img/head_infor.png)no-repeat 0 0; }

/* survice.css */
/* 검색 */
form { float:right; position:relative; margin:15px; width:280px; height:50px; }
form:after { content:''; z-index:41; position:absolute; top:11px; left:20px; display:block; width:1px; height:27px; background:url(../img/tab4_line.png)no-repeat 0 0; }

form input { position:absolute; right:0; width:100%; height:50px; padding:15px 70px 15px 25px; border:0; border-radius:25px; background-color:#fff; box-shadow:0 5px 10px rgba(0,0,0,.16); font-size:18px; color:#222D40; box-sizing:border-box; }
form input::-ms-input-placeholder { color:rgba(0,0,0,.2); }
form input::-webkit-input-placeholder { color:rgba(0,0,0,.2); }
form input::-moz-placeholder { color:rgba(0,0,0,.2); }

form button { position:absolute; right:0; width:50px; height:50px; border:0; border-radius:50%; background:#5EBDF7 url(../img/tab4_surch.png)no-repeat 50% 50%; box-shadow:0 5px 10px rgba(0,0,0,.16); text-indent:-9999px; overflow:hidden; }

/* 키워드 */
main>.kyword { margin:0 25px; }
main>h3 { margin-top:34px; margin-left:25px; margin-bottom:18px; font-size:18px; color:#222D40; }
.kyword>ul:after { content:''; display:block; clear:both; }
.kyword>ul>li { float:left; padding:5px 10px; margin-right:7px; margin-bottom:5px; border:solid 2px #5EBDF7; border-radius:16px; font-size:16px; }
.kyword>ul>li.on { background-color:#5EBDF7; }
.kyword>ul>li>a { color:rgba(34,45,64,.4); }
.kyword>ul>li.on>a { color:#fff; }

/* 자주묻는 질문 */
main>.qna_wrap { overflow-x:auto; }
.qna_wrap>ul { display:flex; width:660px; margin-bottom:20px; animation:sld 2s ease-in-out .5s 1; }
.qna_wrap>ul li { position:relative; width:140px; height:200px; padding:12px; margin-left:20px; border-radius:20px 20px 0 20px; background-color:#BEE7F6; box-shadow:0 5px 10px rgba(0,0,0,.16); box-sizing:border-box; }
.qna_wrap>ul li:before { content:''; position:absolute; display:block; left:50%; top:30px; margin-left:-30px; width:60px; height:60px; border-radius:50%; }
.qna_wrap>ul li:nth-of-type(1):before  { background:#fff url(../img/survice_icon1.png)no-repeat 50% 50%; }
.qna_wrap>ul li:nth-of-type(2):before  { background:#fff url(../img/survice_icon2.png)no-repeat 50% 50%; }
.qna_wrap>ul li:nth-of-type(3):before  { background:#fff url(../img/survice_icon1.png)no-repeat 50% 50%; }
.qna_wrap>ul li:nth-of-type(4):before  { background:#fff url(../img/survice_icon2.png)no-repeat 50% 50%; }
@keyframes sld{
    0% { transform:translateX(0%); }
    50% { transform:translateX(-200px); }
    100% { transform:translateX(0%); }
}

.qna_wrap>ul li span { display:block; margin-top:110px; font-size:22px; color:#fff; line-height:26px; }

/* footer */
footer { position:absolute; padding:16px 0 70px; bottom:0; width:100%; background-color:#E4E4E4; text-align:center; }
footer>h2 { display:inline-block; width:120px; height:27px; margin-bottom:9px; background:url(../img/survice_yangchigee.png)no-repeat 0 0; overflow:hidden; text-indent:-9999px; }
footer>p { opacity:.4; margin-bottom:7px; font-size:12px; }
footer>p:first-of-type span:first-of-type { margin-right:18px; }
footer>p:last-of-type { margin-bottom:16px; }

/* 내 질문 내역 */
.my_qna { z-index:100; position:fixed; bottom:0; width:100%; border-radius:60px 60px 0 0; background:#fff; box-shadow:0 -5px 30px rgba(0,0,0,.1);}
.my_qna>h4 { display:block; padding:30px 30px 20px; font-size:18px; color:#222D40; background:url(../img/survice_up.png)no-repeat 50% calc(100% - 16px); }
.my_qna.on>h4 { background:url(../img/survice_down.png)no-repeat 50% calc(100% - 16px); }
.my_qna>h4>a { position:absolute; right:30px; display:inline-block; width:24px; height:24px; background:url(../img/survice_more.png)no-repeat 0 0; }
.my_qna>ul { height:0; margin-top:0; margin-left:30px; overflow:hidden; transition:all 0.2s ease 0s; }
.my_qna.on ul { height:100px; margin-top:18px; }
.my_qna>ul>li { margin-bottom:18px; font-size:16px; color:#222D40; background:url(../img/survice_right.png)no-repeat calc(100% - 25px) 50%; }
.my_qna>ul>li>a { display:block; }

/* plus 버튼 */
.plus_wrap { z-index:90; position:fixed; bottom:80px; right:15px; display:inline-block; border-radius:50%; background:#5EBDF7 url(../img/service_plus.png)no-repeat 50% 50%; box-shadow:0 5px 10px rgba(0,0,0,.16); }
.plus_wrap>a { display:block; padding:35px; }